*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 100px;
    background-color: yellow;
}

.conteiner{
    height: 100%;
    width: 1000px;
    background-color: green;
    margin: auto;
}

.header-top{
    height:50%;
    background-color:red;
}

.header-bot{
    height:50%;
    background-color:black;
}

.cellaa{
    height: 100%;
    width: 50%;
    float: left;
}

.cella{
    list-style-type: none;
}

.cella li{
    display: inline-block;
    padding:3% 2%
}

#bordo{
    border-right: 1px solid black
}

.cella li a{
    text-decoration: none;
    text-transform: uppercase;

.cellab{
    width: 50%;
    float:right;
}

section{
    height: 400px;
    background-color: blue;
    border: 1px solid orange;
}
